# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/
.venv/
.virtualenvs/

# Ignore Node.js dependencies
node_modules/

# Ignore environment variables
.env

# Ignore media and static files (if not needed)
media/
staticfiles/

# Ignore log files
*.log